@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    appearance: none;
}
:root{
    --light-yellow:#FFF9D0;
    --light-blue:#CAF4FF;
    --blue:#A0DEFF;
    --extra-blue:#5AB2FF;
}

body{
    font-family: "Josefin Sans", sans-serif;
    font-size: 0.9rem;
    user-select: none;
    background-color:#d5f7f2 ;
    min-height: 100vh;

}
.navbar{
    margin: 0 auto;
    justify-content: space-between;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100px;
    background-color: var(--extra-blue);
}

.logo{
    width: 150px;
    height: 50px;
}

.navbar ul li{
    padding: 20px;
    cursor: pointer;
    float: left;
}
.navbar ul li:hover{
    color: var(--light-yellow);
    background-color: var(--blue);
}
.profile{
    margin-left: auto;
    justify-content: end;
    width: 30px;
    height: 30px;
}

.main{
    display: flex;
    margin-top: 120px;
    margin: 20px auto 0;
    height: 100%;
    width: 1000px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.avt{
    align-content: center;
    margin: 0 auto;

}
.avatar{
    width: 200px;
    height: 200px;
}
.in4{
    padding-top: 20px;
    height: 450px;
    width: 470px;
    margin: 20px;
    margin: 0 auto;
    background-color: #95dfe7;
    border-radius: 10px;    
}
.ttcn{
    padding-bottom: 10px;
}
.link{
    padding-top: 10px;
}